{% extends 'base.html' %}

{% block title %}Поиск вакансий по запросу - {{url_params.query}}{% endblock title %}

{% block content %}
    {% if founded_vacancies %}
        <h2>По вашему запросу "{{ url_params.query }}" было найдено несколько вакансий - {{ founded_vacancies|length }}</h2>
        {% for vacancy in founded_vacancies %}
            {% if vacancy.vacancy_initial_source == 'SuperJob' %}
                <div class="card">
                    <div class="header">
                        <div>
                            <h1>{{ vacancy.profession }}</h1>
                            {% if vacancy.payment_from == 0 and vacancy.payment_to == 0 %}
                                <p>Уровень дохода не указан</p>
                            {% elif vacancy.payment_to == 0 %}
                                <p>от {{ vacancy.payment_from }}{{ vacancy.currency }} за месяц</p>
                            {% elif vacancy.payment_from == 0 or vacancy.payment_from == vacancy.payment_to %}
                                <p>до {{ vacancy.payment_to }}{{ vacancy.currency }} за месяц</p>
                            {% else %}
                                <p>{{ vacancy.payment_from }}-{{ vacancy.payment_to }}{{ vacancy.currency }}</p>
                            {% endif %}
                        </div>
                        <div>
                            {% if vacancy.is_added_to_favorites %} 
                                <form action="{% url 'vacancies:remove_vacancy_from_favorites' pk=vacancy.id %}?q={{url_params.query}}&pf={{url_params.payment_from}}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Удалить из избранного</button>
                                </form>
                            {% else %}
                                <form action="{% url 'vacancies:add_vacancy_to_favourites' pk=vacancy.id %}?parse_from={{ vacancy.vacancy_initial_source }}&q={{url_params.query}}&pf={{url_params.payment_from}}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Добавить в избранное</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <h4>Задачи:</h4>
                        {% if vacancy.duties != "Отсутствует информация о задачах" %} 
                            <ul>
                                {% for d in vacancy.duties %}
                                    <li>{{ d }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ vacancy.duties }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <h4>Требования:</h4>
                        {% if vacancy.requirements != "Отсутствует информация о требованиях" %}
                            <ul>
                                {% for req in vacancy.requirements %}
                                    <li>{{ req }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ vacancy.requirements }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <h4>Условия работы:</h4>
                        {% if vacancy.working_conditions != "Отсутствует информация об условиях работы" %}
                            <ul>
                                {% for wk_cond in vacancy.working_conditions %}
                                    <li>{{ wk_cond }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ vacancy.working_conditions }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <p><b>Фирма/компания</b> - <a href="{{ vacancy.client.url }}">{{ vacancy.firm_name }}</a></p>
                    </div>
                </div>
            {% elif vacancy.vacancy_initial_source == 'HH' %}
                <div class="card">
                    <div class="header">
                        <h1>{{ vacancy.name }} {{ forloop.counter }} {{ vacancy.id }}</h1>
                        <div>
                           {% if vacancy.salary == None %}
                                <p>Уровень дохода не указан</p>
                           {% elif vacancy.salary.to == None %}
                                <p>от {{ vacancy.salary.from }}{{ vacancy.salary.currency }} за месяц</p>
                            {% elif vacancy.salary.from == None %}
                                <p>до {{ vacancy.salary.to }}{{ vacancy.salary.currency }} за месяц</p>
                            {% elif vacancy.salary.from == vacancy.salary.to %}
                                <p>{{ vacancy.salary.to }}{{ vacancy.salary.currency }} за месяц</p>
                            {% else %}
                                <p>{{ vacancy.salary.from }}-{{ vacancy.salary.to }}{{ vacancy.salary.currency }}</p>
                           {% endif %}
                        </div>
                        <div>
                            {% if vacancy.is_added_to_favorites %} 
                                <form action="{% url 'vacancies:remove_vacancy_from_favorites' pk=vacancy.id %}?q={{url_params.query}}&pf={{url_params.payment_from}}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Удалить из избранного</button>
                                </form>
                            {% else %}
                                <form action="{% url 'vacancies:add_vacancy_to_favourites' pk=vacancy.id %}?parse_from={{ vacancy.vacancy_initial_source }}&q={{url_params.query}}&pf={{url_params.payment_from}}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Добавить в избранное</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <h4>Задачи:</h4>
                        {% if vacancy.duties != "Отсутствует информация о задачах" %} 
                            <ul>
                                {% for d in vacancy.duties %}
                                    <li>{{ d }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ vacancy.duties }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <h4>Требования:</h4>
                        {% if vacancy.requirements != "Отсутствует информация о требованиях" %}
                            <ul>
                                {% for req in vacancy.requirements %}
                                    <li>{{ req }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ vacancy.requirements }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <h4>Условия работы:</h4>
                        {% if vacancy.working_conditions != "Отсутствует информация об условиях работы" %}
                            <ul>
                                {% for wk_cond in vacancy.working_conditions %}
                                    <li>{{ wk_cond }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ vacancy.working_conditions }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <p><b>Фирма/компания</b> - <a href="{{ vacancy.employer.alternate_url }}">{{ vacancy.employer.name }}</a></p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>Не было найдено вакансий по вашему запросу: {{ url_params.query }}</h1>
    {% endif %}
{% endblock content %}